body{
    background-color:#f7f7f7;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #9e9e9e;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    margin-top:250px;
    font-family: 'Courier New', Courier, monospace;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #727272;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dbdbdb;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #262626;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.sidenav button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #262626;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.sidenav button:hover{
    color: #000000;
}

.sidenav a:hover {
    color: #000000;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}